body {
    background-color: #2e2e2e;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#inputDiv {
    margin: 60px;
    padding: 20px;
    border-style: double;
    border-color: aqua;
    background-color: #424242;
    box-shadow: black 10px 15px 15px;
}
.submitButton {
    box-shadow: black 3px 3px 10px;
}